:root{
    --background-color:#ecebde;
    --nafo-color:#d7d3bf;
    --button-color:#c1baa1;
    --font-color:#a59d84;
    --lfont-color:#4b473c;
    --card-color:#a8a28b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
}
a{
    text-decoration: none;
}

/* ---------NAVBAR-------- */

nav{
    background-color: var(--nafo-color);
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    direction: rtl;
    color: var(--lfont-color);
}
nav section{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .logo{
    margin-right: 10px;
}
nav .logo h1{
    font-weight: 900;
    font-size: 36px;
}
nav .signning .nouser{
    display: flex;
    gap: 35px;
}
nav .signning .userin{
    display: none;
}
nav .pages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav .pages .page{
    font-size: 1.2em;
    padding: 1em;
    margin-left: 0.8em;
}
nav .pages .page:hover{
    background-color: #9f987662;
    border-radius: 10px;
}
nav .signning .nouser .signbuttons, nav .signning .userin .signbuttons, nav .pages .page{
    color: var(--lfont-color);
    font-weight: 900;
    font-size: 20px;
}

/* ---------MAIN-------- */

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-block: 20px;
}
main .fromquestion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

main .fromquestion a{
    width:25%;
}

main .fromquestion article{
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--lfont-color);
}
main .fromquestion article .poster{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
main .fromquestion article .poster img{
    width: 100%;
}
main .fromquestion article .desc{
    text-align: center;
}
main .fromnav{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    height: 300px;
}
main .fromnav article{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 5px;
    font-size: 48px;
    direction: rtl;
    text-align: center;
    color: var(--lfont-color);
    padding: 20px;
}
main .fromnav article p:first-child{
    font-weight: 900;
}

/* ---------FOOTER-------- */

footer{
    background-color: #b3ae9c;
    color: var(--lfont-color);
    direction: rtl;
}
.topfoot{
    /* height: 240px; */
    background-color: var(--nafo-color);
    grid-template-columns:1fr repeat(2, 2fr);
    display: grid;
    justify-content: center;
    align-items: center;
}
.topfoot article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.topfoot .logo{
    margin-right: 10px;
}
.topfoot .logo h1{
    font-weight: 900;
    font-size: 45px;
    text-align: center;
}
.topfoot .pages{
    font-size: 24px;
}
.topfoot .pages ul a{
    cursor: pointer;
    color: var(--lfont-color);
}
.topfoot .social{
    font-size: 20px;
    gap: 10px;
}
.topfoot .social ul li{
    cursor: default;
}
.topfoot .social .fa{
    color: var(--lfont-color);
}
.topfoot .social .fa:hover{
    color: #8a826c;
    cursor: pointer;
}
.botfoot{
    text-align: center;
    color:var(--lfont-color);
    font-weight: 500;
    padding: 10px;
}
.botfoot span{
    font-weight: 900;
}

/* ---------Responsive-------- */

@media screen and (min-width:714px) and (max-width:811px){
    nav .logo h1{
        font-size: 32px;
    }
}
@media screen and (min-width:634px) and (max-width:713px){
    nav{
        height: 65px;
    }
    nav .logo h1{
        font-size: 28px;
    }
    main .fromnav article{
        font-size: 44px;
    }
}
@media  screen and (min-width:596px) and (max-width:633px){
    nav{
        height: 65px;
    }
    nav .logo h1{
        font-size: 24px;
    }
    main .fromnav article{
        font-size: 42px;
    }
}
@media screen and (max-width:946px) {
    nav .pages{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        padding: 10px;
    }
    nav .pages .page{
        font-size: 1.2em;
        padding: 0em;
        margin-left: 0em;
    }
}
@media screen and (min-width:461px) and (max-width:596px) {
    nav{
        height: 50px;
    }
    nav .logo h1{
        font-size: 20px;
    }
    nav .pages .page{
        font-size: 16px;
    }
    nav .signning .nouser{
        gap: 11px;
    }
    nav .signning .nouser .signbuttons, nav .signning .userin .signbuttons{
        font-size: 14px;
    }
    main .fromnav article{
        font-size: 40px;
    }
}
@media screen and (min-width:393px) and (max-width:460px) {
    nav{
        height: 50px;
    }
    nav .logo h1{
        font-size: 17px;
    }
    nav .signning .nouser{
        gap: 5px;
    }
    nav .signning .nouser .signbuttons, nav .signning .userin .signbuttons, nav .pages .page{
        font-size: 14px;
    }
    main .fromnav article{
        font-size: 38px;
    }
}
@media screen and (min-width:330px) and (max-width:392px) {
    nav{
        height: 50px;
    }
    nav .logo h1{
        font-size: 14px;
    }
    nav .pages{
        padding: 6px;
    }
    nav .signning .nouser{
        gap: 5px;
    }
    nav .signning .nouser .signbuttons, nav .signning .userin .signbuttons, nav .pages .page{
        font-size: 12px;
    }
    main .fromnav article{
        font-size: 38px;
    }
}
@media screen and (min-width:290px) and (max-width:329px) {
    nav{
        height: 50px;
    }
    nav .logo{
        margin: 0px;
    }
    nav .logo h1{
        font-size: 14px;
    }
    nav .pages{
        padding: 6px;
    }
    nav .signning .nouser{
        gap: 5px;
    }
    nav .signning .nouser .signbuttons, nav .signning .userin .signbuttons, nav .pages .page{
        font-size: 10px;
    }
    main .fromnav article{
        font-size: 38px;
    }
}
@media screen and (min-width:557px) and (max-width:661px) {
    nav .signning .nouser .signbuttons, nav .signning .userin .signbuttons{
        font-size: 16px;
    }
}
@media screen and (min-width:601px) and (max-width:786px) {
    .topfoot .logo h1{
        font-size: 28px;
    }
    .topfoot .pages h3, .topfoot .social h3{
        font-size: 24px;
    }
    .topfoot .pages ul a, .topfoot .social ul li{
        font-size: 22px;
    }
}
@media screen and (min-width:501px) and (max-width:600px) {
    .topfoot .logo h1{
        font-size: 26px;
    }
    .topfoot .pages h3, .topfoot .social h3{
        font-size: 21px;
    }
    .topfoot .pages ul a, .topfoot .social ul li{
        font-size: 19px;
    }
}
@media screen and (min-width:360px) and (max-width:500px){
    .topfoot .logo h1{
        font-size: 24px;
    }
    .topfoot .pages h3, .topfoot .social h3{
        font-size: 20px;
    }
    .topfoot .pages ul a, .topfoot .social ul li{
        font-size: 17px;
    }
}
@media screen and (min-width:290px) and (max-width:360px){
    .topfoot .logo h1{
        font-size: 20px;
    }
    .topfoot .pages h3, .topfoot .social h3{
        font-size: 17px;
    }
    .topfoot .pages ul a, .topfoot .social ul li{
        font-size: 14px;
    }
}
@media screen and (min-width:555px) and (max-width:633px) {
    .botfoot p{
    font-size: 14px;
    }
}
@media screen and (min-width:475px) and (max-width:554px) {
    .botfoot p{
        font-size: 14px;
    }
}
@media screen and (max-width:474px) {
    .botfoot p{
        font-size: 10px;
    }
}
@media screen and (min-width:920px) and (max-width:964px){
    main .fromquestion{
        gap: 5%;
    }
    main .fromquestion a{
        width:29%;
    }
}
@media screen and (min-width:769px) and (max-width:919px){
    main .fromquestion{
        gap: 3%;
    }
    main .fromquestion a{
        width:29%;
    }
}
/* @media screen and (max-width:874px){
    main .fromquestion{
        gap: 3%;
    }
    main .fromquestion a{
        width:25%;
    }
} */
@media screen and (min-width:735px) and (max-width:768px){
    main .fromquestion{
        width: 75%;
        flex-flow: row wrap;
        gap: 20px;
    }
    main .fromquestion a{
        width: 100%;
    }
    main .fromquestion article{
        flex-flow: row wrap;
        direction: rtl;
    }
    main .fromquestion article .poster{
        width: 49%;
        height: 249px;
    }
    main .fromquestion article .poster img{
        height:280px;
    }
    main .fromquestion article .name{
        display: flex;
        align-self: flex-start;
        height: 22px;
    }
    main .fromquestion article .desc{
        width: 30%;
        position: relative;
        left: 100px;
    }
    main .fromquestion article .desc p{
        width: 150%;
        font-size: 20px;
    }
}
@media screen and (min-width:697px) and (max-width:734px) {
    main .fromquestion{
        width: 75%;
        flex-flow: row wrap;
    }
    main .fromquestion a{
        width: 100%;
    }
    main .fromquestion article{
        flex-flow: row wrap;
        direction: rtl;
        gap: 17px;
    }
    main .fromquestion article .poster{
        width: 49%;
        height: 240px;
    }
    main .fromquestion article .poster img{
        height:280px;
    }
    main .fromquestion article .name{
        display: flex;
        align-self: flex-start;
        height: 22px;
    }
    main .fromquestion article .desc{
        width: 30%;
        position: relative;
        left: 95px;
        top: 13px;
    }
    main .fromquestion article .desc p{
        width: 150%;
        font-size: 20px;
    }
}
@media screen and (min-width:645px) and (max-width:696px) {
    main .fromquestion{
        width: 75%;
        flex-flow: row wrap;
    }
    main .fromquestion a{
        width: 100%;
    }
    main .fromquestion article {
        flex-flow: row wrap;
        direction: rtl;
        gap: 14px;
        padding: 5px;
    }
    main .fromquestion article .poster{
        width: 49%;
        height: 240px;
    }
    main .fromquestion article .poster img{
        height:280px;
    }
    main .fromquestion article .name{
        display: flex;
        align-self: flex-start;
        height: 22px;
    }
    main .fromquestion article .desc{
        width: 30%;
        position: relative;
        left: 95px;
        top: 13px;
    }
    main .fromquestion article .desc p{
        width: 150%;
        font-size: 20px;
    }
}
@media screen and (min-width:544px) and (max-width:644px) {
    main .fromquestion{
        width: 75%;
        flex-flow: row wrap;
    }
    main .fromquestion a{
        width: 100%;
    }
    main .fromquestion article {
        flex-flow: row wrap;
        direction: rtl;
        gap: 12px;
        padding: 5px;
    }
    main .fromquestion article .poster{
        width: 49%;
        height: 240px;
    }
    main .fromquestion article .poster img{
        height:280px;
    }
    main .fromquestion article .name{
        display: flex;
        align-self: flex-start;
        align-items: center;
        height: 54px;
    }
    main .fromquestion article .desc{
        width: 27%;
        position: relative;
        left: 85px;
        top: 13px;
    }
    main .fromquestion article .desc p{
        width: 150%;
        font-size: 18px;
    }
}
@media screen and (min-width:458px) and (max-width:543px) {
    main .fromquestion{
        width: 75%;
        flex-flow: row wrap;
    }
    main .fromquestion a{
        width: 100%;
    }
    main .fromquestion article {
        flex-flow: row wrap;
        direction: rtl;
        gap: 11px;
        padding: 5px;
    }
    main .fromquestion article .poster{
        width: 44%;
        height: 240px;
    }
    main .fromquestion article .poster img{
        height:280px;
    }
    main .fromquestion article .name{
        display: flex;
        align-self: flex-start;
        align-items: center;
        height: 40px;
    }
    main .fromquestion article .desc{
        width: 27%;
        position: relative;
        left: 85px;
        top: 13px;
    }
    main .fromquestion article .desc p{
        width: 150%;
        font-size: 18px;
    }
}
@media screen and (min-width:422px) and (max-width:457px) {
    main .fromquestion{
        width: 75%;
        flex-flow: row wrap;
        gap: 20px;
    }
    main .fromquestion a{
        width: 100%;
    }
    main .fromquestion article {
        flex-flow: row wrap;
        direction: rtl;
        gap: 11px;
        padding: 5px;
    }
    main .fromquestion article .poster{
        width: 44%;
        height: 240px;
    }
    main .fromquestion article .poster img{
        height:280px;
    }
    main .fromquestion article .name{
        display: flex;
        align-self: flex-start;
        align-items: center;
        height: 40px;
    }
    main .fromquestion article .desc{
        width: 25%;
        position: relative;
        left: 75px;
        top: 13px;
    }
    main .fromquestion article .desc p{
        width: 150%;
        font-size: 16px;
    }
}
@media screen and (max-width:421px) {
    main .fromquestion{
        flex-direction: column;
        gap: 20px;
    }
    main .fromquestion a{
        width: 66%;
    }
    main .fromquestion article{
        width: 100%;
    }
}
/* 
    main .fromquestion article .desc {
        width: 27%;
        position: relative;
        left: 85px;
        top: 13px;
    }
    
*/