
@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

body {
  font-family: Arial, sans-serif;
  background-color: #ECEBDE;
  margin: 0;
  padding: 0;
}
.logo{
  font-size:xx-large;
}
header{
  display: flex;
  background-color: #D7D3BF;
  color: #A59D84; 
position: relative;
padding: 20px;
margin-bottom: 40px;

}
ul{
  list-style: none;
  display: flex;
position: absolute;
right: 0;
top: 14px;
}
li{
  margin-right: 20px;
  font-size: large;

}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: #A59D84; 
  margin-top: 13px;
  margin-bottom: 20px;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

input, select, button {
  width: 60%;
  padding: 10px;
  margin: 15px 0;
  font-size: 18px;
  color: #A59D84; 
 
}

input[type="text"], select {
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #C1BAA1; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.6s;
}

button:hover {
  background-color: #218838;
}
footer{
  text-align: center;
  background-color: #D7D3BF;
  color: #A59D84;
padding: 15px;
margin-top: 30px;
position: absolute;
bottom: 0;
width: -webkit-fill-available;
}